{% for field in form %}
<div class="form-group">
      <label class="panel-danger">{{ field.errors }}</label>
    <label class="control-label">{{ field.label_tags }}</label>
      <div class="col-sm-5 form-control">{{ field. }}</div>
</div>
{% endfor %}